*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color:  #F2F2F2;
}
$menu-width:96px;

.container{
    

    &__menu{
        position: fixed;
        width: $menu-width;
        height: 100vh;
        background:#FFFFFF;
        border-radius: 0px 20px 20px 0px;
        
        &__logo{
            text-align: center;
            margin-top: 40px;
            margin-bottom: 30px;
            cursor: pointer;
        }
        &__line{
            text-align: center;
        }
        &__icons{
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;

            &__img{
                width: 100%;
                height: 70px;
                display: flex;
                align-items: center;
                justify-content: center;

                &--setting-icon{
                    position: absolute;
                    bottom: 0;
                }

                &:hover{
                    background-color: #F2F2F2;
                }
            }
           
            
            
        }

    }
    &__content{
       
        margin-left: $menu-width;
        
        
       &__search-and-icons{
            height: 100px;
            display: flex;
            justify-content: space-between;

            &__search{
            
                padding-left: 40px;
                flex: 1;
                padding-top: 26px;
                
                &__wrap{
                    display: flex;
                    align-items: center;
                    img{
                        height: 18px;
                        width: 18px;
                    }
                    input{
                       width: 100%;
                       background: none;
                       border: none;
                       outline: none;
                    
                    }
                }
                
            }
            &__icons{
                display: flex;
                align-items: center;
                padding-right: 40px;

               &__icon{
                   display: flex;
                   align-items: center;
                    justify-content: center;
                   &__badge{
                       position: relative;
                       top: 15px;
                       right: 15px;
                        
                       &--notvisible{
                           visibility: hidden;
                       }
                   }
                   &__plus{
                       position: absolute;
                       

                   }
               }
            }


       }
    }
}
