.a-bar-setter {
  position: relative;

  &__line-bg {
    height: 8px;
    border-radius: 71.5px;
    background: #dad7fe;
    border-radius: 71.5px;
  }

  &__line {
    height: 8px;
    width: 173px;

    border-radius: 71.5px;

    background: #4339f2;
    border-radius: 71.5px;
    position: absolute;
    top: 0px;
  }

  &__dot {
    position: absolute;
    top: -10px;
    left: 163px;
  }
}
