.a-left-menu {
  position: fixed;
  width: $menu-width;
  height: 100vh;
  background: #FFFFFF;
  border-radius: 0px 20px 20px 0px;


  &__logo {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    cursor: pointer;
  }

  &__line {
    text-align: center;
  }

  &__icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;

  }

}