.a-right-bottom {
  height: 320px;
  margin-left: 40px;
  background: #ffffff;
  border-radius: 10px;
  position: relative;
  justify-content: space-between;
  z-index: 0;
  max-width: 500px;

  &__infos {
    display: flex;
    justify-content: space-between;
  }

  & > img {
    width: 100%;

    position: absolute;
    bottom: 0px;
    object-fit: contain;
    z-index: 10;
  }
}
