.a-sliders {
  height: 505px;
  background: red;
  margin-bottom: 40px;
  margin-left: 40px;

  background: #ffffff;
  border-radius: 10px;
  padding: 30px;

  &__header {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    margin-bottom: 24px;
  }

  &__bar {
    margin-bottom: 30px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 96px;

    &__price {
      font-family: sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 52px;
    }


  }
}
