
.a-top-icons {
  display: flex;
  align-items: center;
  padding-right: 40px;

  &__icon {
    position: relative;

    cursor: pointer;

    &:hover {

      transform: translate(0px, -4px);

    }

    &__badge {
      position: relative;
      top: 12px;
      right: 18px;

      &--notvisible {
        visibility: hidden;
      }
    }

    &__plus {
      position: absolute;
      top: 10px;
      left: 10px;


    }
  }
}