.a-vertical-bar {
  display: flex;
  flex-direction: column;
  
  width: 40px;
  justify-content: flex-end;

  &__bars {
    display: flex;

    &__blue {
      width: 14px;
      height: 329px;
      background: #02a0fc;
      border-radius: 10px;
      margin-right: 10px;
    }

    &__green {
      width: 14px;
      height: 329px;
      background: #34b53a;
      border-radius: 10px;
    }
  }

  &__date {

    align-self: center;
    font-size: 10px;
    line-height: 15px;
    opacity: 0.4;
    margin-top: 11px;
  }
}
