.oval-bar {

  height: 320px;
  background: orange;
  margin-left: 40px;

  background: #FFFFFF;
  border-radius: 10px;

  &__top {
    height: 40px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;

    img {
      height: 24px;
      width: 24px;
      margin-right: 30px;

      &:hover {
        cursor: pointer;
      }
    }

    h5 {
      margin-left: 30px;
      font-family: sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__mid {
    height: 195px;
    width: 195px;

    margin: 23px auto 22px;
  }

  &__bottom {
    height: 40px;
    padding-left: 30px;
    display: flex;
    align-items: center;

    img {
      height: 14px;
      width: 14px;


    }

    h5 {
      font-family: sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 0px;
      margin-left: 6px;
    }
  }
}